body{
    display: flex;
    justify-content: center;
    background-color: rgb(93, 93, 249);
}
.Entry{
    border:5px solid blueviolet; 
    background-color: aquamarine;
    text-align: center;
    margin:auto;
    margin-top:5%;
    width: 500px;
    height:400px;
    border-radius: 20px;
}
.choice{
    display: flex;
    border: 2px solid black;
    margin: auto;
    background-color: white;
    width:430px;
    height:280px;
    justify-content:space-evenly;
}
.Customer,.Seller{
    margin-top: 60px;
    width: 150px;
    height:100px;
    font-size: 30px;
}
.Seller:hover{
    opacity:70%;
    border:2px solid green;
}
.Customer:hover{
    border:2px solid green;
    opacity:70%;
}
h3{
    margin:0%;
}