.login,.signup{
    border-radius: 20px;
    background-color: blue;
    color: azure;
    font-size: 50px;
    margin-top: 30px;
}
.buttons{
    display: flex;
    justify-content: space-around; 
}
.page{
    position: fixed;
    margin: auto;
    bottom: 50%;
    right: 15%;
}
.welcome{
    font-size: 70px;
    color:white;
}
body{
    background-color: black;
}