<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login_style.css')}}">
</head>
<body>
    <form class="form">
        <h1 id="title" class="element">Enter your Information</h1>
        <label for="name" class="element">Username:</label>
        <input type="text" id="name" class="element">
        <label for="password" class="element">Password:</label>
        <input type="text" id="password" class="element">
        <button type="submit" class="element">Login</button>
    </form>
</body>
</html>