<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/signup_style.css')}}">
</head>
<body>
    <form action="/products" method="get">
        <h1>Sign-up</h1>
        <label for="username" class="form">Name:</label>
        <input type="text" id="username" class="form">
        <label for="E-mail" class="form">E-mail:</label>
        <input type="email" id="E-mail" class="form">
        <label class="form">Gender</label>
        <select class="form">
            <option value="">--Select--</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <label for="enter_password" class="form">Enter Password</label>
        <input type="password" id="enter_password" class="form">
        <label for="con_password" class="form"> Confirm Password</label>
        <input type="password" id="con_password" class="form">
        <button type="submit" class="form">Sign Up</button>
    </form>   
</body>
</html>